@import "tailwindcss";

*{
    scrollbar-color: var(--color-dark-100) var(--color-black);
}

:root {
    --gradient-color: linear-gradient(
        to bottom right,
        #0894ff 0%,
        #c959dd 34%,
        #ff2e54 68%,
        #ff9004
    );
}

@theme{
    --color-primary: #0071e3;
    --color-dark-100: #86868b;
    --color-dark-200: #2e2e30;
    --color-light-100: #adb5bd;
}

html{
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #000;
    color: var(--color-dark-100);
}

@utility flex-center {
    @apply flex items-center justify-center;
}
@utility flex-between {
    @apply flex items-center justify-between;
}
@utility col-center {
    @apply flex flex-col items-center justify-center;
}
@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer components {
    header {
        @apply w-screen fixed top-0 left-0 z-50 flex-center bg-black min-h-[7vh];
        nav {
            @apply container mx-auto flex-between;
        }
        img {
            @apply cursor-pointer hover:-translate-y-0.5 duration-300 transition-all ease-in-out;
        }
        ul {
            @apply flex-center gap-8;
        }
        a {
            @apply hidden md:block cursor-pointer text-white opacity-80 hover:opacity-100;
        }
        button {
            @apply bg-transparent border-none outline-none cursor-pointer;
        }
    }


}